body {
  background-color: papayawhip;
  margin: 0px 0px 0px 0px;
}

header {
  background-color: rgb(230, 103, 103);
  border: 2px solid rgb(182, 25, 25);
  border-bottom: 1px;
  margin: 0px;
  height: 100px;
  display: flex;
  align-items: center;
}

h1 {
   color: rgb(77, 3, 21)
}

a {
  color:whitesmoke;
  text-decoration: none;
  font-size: larger;
}

a:hover{
  color: rgb(95, 38, 51);
  text-decoration-line: underline;
}

 nav li{
  display: inline-block;
  list-style-type:none;
}

nav ul li{
  float:left;
  width:100%;
  text-align: center;
  position: relative;

}

nav{
  height : 100px;
  width:100%;
  margin: 0 auto;
  position: sticky;
  top: 0px;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sous{
  display:none;
  position: absolute;
  background-color: rgb(255, 208, 164);
  box-shadow: 0px 1px 2px;
  border-radius: 15px;
  width:200px;
  z-index: 1000;
}

nav > ul li:hover .sous{
  display: block;
  padding-left: 0;
}

.sous li{
  float: none;
  width: 100%;
  list-style: circle;
  list-style-position: outside;
  margin-left: 0;
}

.deroulant:after{
  content:"▼";
}

.deroulant{
  color:whitesmoke;
  text-decoration: none;
}

#container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 2px solid rgb(182, 25, 25);
  padding: 5%;
}

section {
  border: 2px solid rgb(182, 25, 25);
  background-color: rgb(255, 208, 164);
  width: 30%;
  border-radius: 15px;
}

h2 {
  text-align: center;
  color: rgb(95, 38, 51);
  display:flex;
  justify-content: center;
}

button{
  background-color: transparent;
  border: 1px solid transparent;
}

button:hover{
  border: 1px solid rgb(95, 38, 51);
  border-radius: 100%;
}

#d1{
  display:none;
}

#d2{
  display:none;
}
#d3{
  display:none;
}

@media screen and (min-width: 250px) and (max-width: 720px) {
  h1 {
    display: none;
  }
  #icon {
    display: none;
  }

  .deroulant{
    display:none;
  }
  section {
    width: 100%;
    margin: 2px;
  }

@media screen and (max-height: 1200px){
  footer{
    position:sticky;
    bottom: 0;
  }
  }
}


footer {
  border: 2px solid rgb(182, 25, 25);
  border-top: 1px;
  height: 75px;
  background-color: rgb(230, 103, 103);
  padding-left: 10px;
  padding-top: 20px;
}


li {
  list-style-type: circle;
  list-style-position: outside;
  padding-top: 5% ;
  padding-bottom: 5%;
  color: rgb(77, 3, 21);
}

ul{
  line-height: 1.5em;
  list-style : none;
}

.gauche{
  padding-left: 0;
}
